.container {
  position: relative;
  height: 200px; 
}
.zdjecie {
  position: absolute;
  overflow: hidden;
}
.zdjecie img {
  display:block;
  vertical-align:middle;
}
.suwak {
  position: absolute;
  z-index: 9;
 
  width: 20px;
  height: 20px;
  background-color: black;
}